# =========================
# PYTHON
# =========================

__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
ENV/

# Environment variables
.env

# =========================
# FLASK
# =========================

instance/
.webassets-cache

# =========================
# DATABASE / STORAGE
# =========================

*.db
*.sqlite3

# =========================
# VECTOR DATABASE
# =========================


backend/chroma_db/
*.bin

# =========================
# UPLOADS
# =========================

backend/uploads/

# =========================
# LOG FILES
# =========================

*.log

# =========================
# VS CODE
# =========================

.vscode/

# =========================
# NODE
# =========================

node_modules/

# =========================
# SYSTEM FILES
# =========================

.DS_Store
Thumbs.db

# =========================
# TEST FILES
# =========================

pytest_cache/
.coverage

# =========================
# CACHE
# =========================

.cache/
temp/
tmp/

# =========================
# JUPYTER
# =========================

.ipynb_checkpoints/

# =========================
# BUILD FILES
# =========================

dist/
build/

# =========================
# USER DATA
# =========================

users.json
chat_history.json
venv/
__pycache__/
node_modules/
chroma_db/
.chromadb/
*.sqlite3
.env